DEBUG=True
DJANGO_SECRET_KEY="django-insecure-5be6d30a0e5197762ad0afc243fc5bd64085d0163b244c63fb663acd6da1ba615554888fe9ce9864a242bb0b0ed111cfcfb6"

#sendinblue credentials
DEFAULT_FROM_EMAIL="monde.lacanlalay@gmail.com"
ANYMAIL_SENDINBLUE_API_KEY=""

# email credentials
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_HOST_USER="monde.lacanlalay@gmail.com"
EMAIL_HOST_PASSWORD="qxhcekxetankibzi"
EMAIL_USE_SSL=True

#Database env
DATABASE_NAME="db_name"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"

PLATFORM="local"